.container{
 
}
.header{
    background-color: #230477;
    color:white;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}
.closeButton{
    position: relative;
    right:-230px;
    top:-7px;
    color:white;
    font-size: 26px;
    font-weight: 600;
    background-color:#230477;
    cursor: pointer;
  }

  .formContainer{
    padding : 20px 45px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    height:76vh
  }

  .input{
    border-width: 2px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    border-style: solid;
    height: 5vh;
  }
  .sendButton{
    width: 100%;
    height: 7vh;
    border-radius: 15px;
    background-color: #230477;
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phoneContainer{
    display: flex;
    align-items: center;
    width:100%;
  }

  .countryContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    border-style: solid;
    height: 5vh;
    width: 20%;
  }
  .imgContainer{
    width:5vw;
    height: 3vh;
  }