/* src/FloatingWhatsappButton.css */

.whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Ensures it appears above other content */
    transition: transform 0.3s ease;
  }
  
  .whatsappButton:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }
  
  .whatsappButton:active {
    transform: scale(1); /* Shrink back to normal when clicked */
  }
  