.container{
    position: relative;
    top:-50px;
    left:10%;
    box-shadow: 10px 10px 15px black;
    background-color: white;
    width:78vw;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    
   
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.count{
    font-size: 40px;
    color: #230477;
    font-weight: 600;
}
.title{
    font-size: 20px;
    color: black
}

@media (max-width: 768px) {
    .container{
        position: relative;
        top:-50px;
        left:10%;
        box-shadow: 10px 10px 15px black;
        background-color: white;
        width:70vw;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
    }
    .section{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 15px 0;
    }
}