.container {
    display: flex;
    padding: 5vw 0 ;
    width: 100vw;  
    background: linear-gradient(180deg, #230477, #9d94b6);
    justify-content: center;
   
}



.textSection {
    width:20%;
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
.headingText{
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    margin:0px 
}
.cardSection {
    width: 60%;
    flex-wrap: wrap;
    display:flex;
    /* background-color: aqua; */
   
    justify-content: space-between;
    row-gap: 20px;
}