.container {
    display: flex;
    padding: 5vw 0;
    width: 100vw;
    background: linear-gradient(180deg, #230477, #9d94b6);
    justify-content: center;

}



.textSection {
    width: 20vw;
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.headingText {
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    margin: 0px
}

.cardSection {
    width: 60vw;
    flex-wrap: wrap;
    display: flex;
    column-gap: 25px;
    justify-content: center;
    row-gap: 20px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 5vw 10vw;
        width: 100%;
        background: linear-gradient(180deg, #230477, #9d94b6);
        justify-content: center;

    }

    .textSection {
        width: 82vw;
        color: white;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
    }

    .cardSection {
        width: 82vw;
        flex-wrap: wrap;
        display: flex;
        margin: 25px 0px;
        justify-content: center;
        row-gap: 20px;
    }
}