.container{
    display: flex;
    padding: 45px 80px;
    background-color: #695d8a;
    max-width: 100%;
   
}
.description{
 width  :50% ;
 padding-right: 10px;
 display: flex;
 flex-direction: column;
 row-gap: 30px;
}
.formContainer{
    border-radius: 20px;
    width: 50%;
    padding : 20px 45px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    height:86vh;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    
  }
.adviceryText{
    font-size: 15px;
    color:white;
    text-align: justify;
}
  .input{
    border-width: 2px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    border-style: solid;
    height: 5vh;
  }
  .sendButton{
    width: 100%;
    height: 7vh;
    border-radius: 15px;
    background-color: #230477;
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phoneContainer{
    display: flex;
    align-items: center;
    width:100%;
  }

  .countryContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    border-style: solid;
    height: 6vh;
    width: 20%;
  }
  .imgContainer{
    width:5vw;
    height: 3vh;
  }
  .titleContactText{
    font-size: 30px;
    font-weight: 800;
    color: white;
  }
  .titleText{
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-align: left;
  }
  @media (max-width: 768px) {
    .container{
      padding: 15px ;
      width: 95vw;
        display: flex;
        flex-direction: column;
    justify-content: center;
    background-color: #b19de9;
    }
    .description{
     width: 100%;   
      row-gap: 30px;
      margin-bottom: 20px;
     }
     .formContainer{
      border-radius: 20px;
      width: 70vw;
      padding : 20px 45px 20px;
      display: flex;
      flex-direction: column;
      row-gap: 26px;
      height:86vh;
      border-style: solid;
      border-width: 3px;
      border-color: white;
      place-self: center;
      
    }
    
  }
