.header {
    position: fixed;
    z-index: 1000;
    background-color:white;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 0 15px black;
}

.logoContainer {
    width: 10%;
    height: 10vh;
   
}

.actionContainer {
    display: flex;
   column-gap: 56px;
    color: #000;
    width: 50%;
}

.linkText {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

.linkText:hover {
    color: orangered;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        z-index: 1000;
        background-color:white;
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 10px 0 15px black;
    }
    .logoContainer {
        width: 50%;
        height: 15vh;
       
    }
    .drawerItemContainer {
        display:flex;
        flex-direction: column;
       
       padding: 40px 20px;
       row-gap: 60px;
       
    }
    .linkText {
        text-decoration: none;
        font-size: 30px;
        font-weight: 600;
    }
    .drawerItem{
        width: 100%;
        display: flex;
        column-gap: 30px;
        align-items: center;
    }
}