.header {
    position: fixed;
    z-index: 1000;
    background-color:white;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 0 15px black;
}

.logoContainer {
    width: 50%;
    height: 20vh;
   
}

.actionContainer {
    display: flex;
   column-gap: 56px;
    color: #000;
    width: 50%;
}

.linkText {
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

.linkText:hover {
    color: orangered;
}