
.container{
   background-color:   #e6e6f0
}
.notificationSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dedee4;
    padding: 40px 0;
}
.buttonStyle{
    width:180px;
    height: 7vh;
    font-size: 15px;
    color:white;
    background:linear-gradient(30deg ,#704dcf, #230477);
    border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.titleTextStyle{
    font-size: 25px;
    font-weight: 600;
}
.subtitleTextStyle{
    font-size: 15px;
    color: gray;
    font-weight: 600;
}
.actionContainer {
    display: flex;
    column-gap: 56px;  
    justify-content: center;
    padding: 15px 0;
}

.linkText {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.headingText{
    color: #230477;
    font-weight: 600;
    font-size: 30px;
    margin:20px 0px;
    width:90vw;
    
}
.locationCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 50px;
}
.locationContainer{
    display: flex ;

}
.socialLinkContainer{
    display: flex;
  
    align-self: flex-end;
    column-gap: 8px;
    padding: 20px;
    position: relative;
    left:70%;
    width:100%
}
.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #230477;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    width: 40px;
    height:40px
   
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    background-color: #230477;
    color: white;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .locationContainer{
        display: flex ;
        flex-direction: column;
    
    }
    .headingText{
        color: #230477;
        font-weight: 600;
        font-size: 30px;
        margin:20px 0px;
        width:100vw;
        
    }
    .socialLinkContainer{
        display: flex;
        width:100%;
        align-self: flex-end;
        column-gap: 8px;
        padding: 20px;
        position: relative;
        left:10%;
        
    }
    .actionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        padding: 10px 0;
    }
    .notificationSection{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #dedee4;
        padding: 40px 0;
        row-gap: 20px;
    }

  }