
.container{

}
.notificationSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c3bed1;
    padding: 40px 0;
}
.buttonStyle{
    width:180px;
    height: 7vh;
    font-size: 15px;
    color:white;
    background:linear-gradient(30deg ,#704dcf, #230477);
    border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.titleTextStyle{
    font-size: 25px;
    font-weight: 600;
}
.subtitleTextStyle{
    font-size: 15px;
    color: gray;
    font-weight: 600;
}
.actionContainer {
    display: flex;
    column-gap: 56px;  
    justify-content: center;
    padding: 15px 0;
}

.linkText {
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #000;
}