.container {
    width: 100vw;
    position: relative;
    background-color: rgb(15, 9, 68);
    box-sizing: border-box;
    padding:5px 45px;
}

.headingText {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.line {
    width: 20vw;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 30px
}

.carouselContainer {
    box-sizing: border-box;
    padding:0px 10px
  
}

@media (max-width: 768px) {
    .carouselContainer {
        
    }
}