.container {
    width: 100vw;
    position: relative;
    background-color: rgb(34, 26, 114);
    box-sizing: border-box;
    padding:5px 45px;
}

.headingText {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.line {
    width: 20vw;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 30px
}

.carouselContainer {
    box-sizing: border-box;
    padding:0px 10px
  
}

.buttonStyle{
 position: absolute;
 left: 45%;
 margin:40px;
 bottom:-30px;
    width:150px;
    height: 5vh;
    font-size: 15px;
    color: #000;
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width: 768px) {
    .carouselContainer {
        
    }
}