.container {
    display: flex;
    width: 40vw
}

.box {
    border-radius: 25px;
    background-color: white;
    width: 25vw;
    height: 30vh;
    position: relative;
    margin: 20px 0;
    padding: 2px 5px
}

.icon {
    top: -40px;
    left: 40%;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   
}

.serviceName {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 600;

}

.serviceDescription {
    font-size: 15px;

}

@media (max-width: 768px) {
    .container {
        display: flex;
        width: 93vw;
    }

    .box {
        border-radius: 25px;
        background-color: white;
        width: 90vw;
        height: 40vh;
        position: relative;
        margin: 20px 0
    }

    .serviceDescription {
        font-size: 16px;
        
    }
}